.all{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nums{
  text-decoration: none;
  display: inline-block    ;
  padding: 12px 20px 12px 20px;
  background-color: turquoise;
  font-size: 25px;
  transition: 0.4s;
}
.nums:hover{
  background-color: rgb(#000000);
}

.Pagination {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }
  
  .Pagination button {
    font-size: 1.2rem;
    background-color: rgba(0, 0,0);
    outline: none;
    color: white;
    padding: 1rem;
    border: none;
  }
  
  .Pagination button:hover, .Pagination button:focus{
    outline: none;
    border: none;
    background-color: rgb(92, 89, 89);
    cursor: pointer;
  }
  
