.all{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nums{
  text-decoration: none;
  display: inline-block    ;
  padding: 12px 20px 12px 20px;
  background-color: turquoise;
  font-size: 25px;
  transition: 0.4s;
}
.nums:hover{
  background-color: rgb(47, 173, 47);
}

.Pagination {
    width: 100%;
    margin-top: 200px;
    background-color: rgba(82, 3, 3, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Pagination button {
    font-size: 1.2rem;
    background-color: rgba(89, 5, 5, 0.712);
    outline: none;
    color: white;
    padding: 1rem;
    /* margin: 0 1rem; */
    border: none;
  }
  
  .Pagination button:hover, .Pagination button:focus{
    outline: none;
    border: none;
    background-color: rgba(89, 5, 5, 0.712);
    cursor: pointer;
  }
  
}