.logo {
  height: 80px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;
  align-items: center;
}

.Nav {
  background: black;
  height: auto;
  width:auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.searchBar {
  margin-top: -35px;
  margin-left: 60%;/* tocar */
}

.d-flex {
  margin: 3px 1px 1px 1px;
  list-style: none;
}

.dropdown {
  font-family: "Quicksand", sans-serif;
  height: 65px;
  margin-top: 12px;
  margin-left: -29px;
}

@media (max-width: 640px) {
  .Nav {
    background: black;
    height: auto;
    width:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .searchBar {
    margin-top: -35px;
    margin-left: 34%;/* tocar */
  }
  .logoHiden {
    display: none;
  }
}

@media (max-width: 540px) {
  .Nav {
    background: black;
    height: auto;
    width:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .searchBar {
    margin-top: -35px;
    margin-left: 30%;/* tocar */
  }
  .logoHiden {
    display: none;
  }
}

@media (max-width: 480px) {
  .Nav {
    background: black;
    height: auto;
    width:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .searchBar {
    margin-top: -35px;
    margin-left: 15%;/* tocar */
  }
  .logoHiden {
    display: none;
  }
}

@media (max-width: 320px) {
  .Nav {
    background: black;
    height: auto;
    width:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .searchBar {
    margin-top: -35px;
    margin-left: 14%;/* tocar */
  }
  .logoHiden {
    display: none;
  }
}

@media (max-width: 280px) {
  .Nav {
    background: black;
    height: auto;
    width:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .searchBar {
    margin-top: -35px;
    margin-left: 5%;/* tocar */
  }
  .logoHiden {
    display: none;
  }
}

