.logo {
  height: 80px;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 0;
  align-items: center;

}

.Nav {
  background: black;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.searchBar {
  margin-top: -35px;
  margin-left: 650px;
}

.d-flex {
  margin: 3px 1px 1px 1px;
  list-style: none;
}

.dropdown {
  font-family: "Quicksand", sans-serif;
  height: 65px;
  margin-top: 12px;
  margin-left: -29px;
}



@media (max-width: 1380px) {
  .searchBar {
    margin-left: 480px;
  }

  .Nav {
    width: 100%;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

}



@media (max-width: 1149px) {
  .Nav {
    width: 1149px;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .searchBar {
    margin-left: 450px;
  }

  /* #filtrosPropiedad, #filtrosDormitorios {
      padding: 15px;
     width: 49%;
    
    } */
}

@media (max-width: 954px) {
  .Nav {
    width: 954px;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .searchBar {
    margin-left: 300px;
  }

  /* #filtrosPropiedad, #filtrosDormitorios {
        padding: 15px;
       width: 49%;
      
      } */
}

@media (max-width: 798px) {
  .Nav {
    width: 798px;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .searchBar {
    margin-left: 150px;
  }


  /* #filtrosPropiedad, #filtrosDormitorios {
          padding: 15px;
          width: 49%;
          
        } */
}


@media (max-width: 645px) {
  .Nav {
    width: 645px;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .searchBar {
    z-index: 1;
    margin-left: 200px;
  }


  .logoHiden {
    display: none;
  }

  /* #filtrosPropiedad, #filtrosDormitorios {
              padding: 15px;
             width: 49%;
            
            } */
}


@media (max-width: 625px) {
  .Nav {
    width: 100%;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .searchBar {
    z-index: 1;
    margin-left: 150px;
  }
}

@media (max-width: 539px) {
  .searchBar {
    margin-left: 70px;
  }

}
@media (max-width: 440px) {
  .searchBar {
    margin-left: 30px;
  }

}


@media (max-width: 365px) {
  /* .Nav {
    width: 100%;
    background: black;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
  } */

  .searchBar {
    z-index: 1;
    margin-left: 15px;
    margin-right: -40px;
  }
  .sidebar-social{
    margin-left: -10px;
  }
}