.imgStyle{
  background-image: url(../dashboard/cover.png);
  padding: 264.3px 100px;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.imgStyle:before{
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.buttons{
  display: flex;
  justify-content: space-around;
  position: relative;
}