.container{
  display: flex;
}


.container-item{
  display: flex;
  align-items: center;
  
}

h6, .h6 {
  font-size: 1.1rem;
    /* margin-left: 2.5rem; */
    color: #616263;
}
.Img{
  justify-content: space-around;
  object-fit: scale-down;
  max-height: 3rem;
  max-width: 5rem;
}

.button{
  color: red;
    font-size: 10px;
    width: 0rem;
    padding: 4px;
}

.container-item{
  display: flex;
  align-items: center;
  
}

h6, .h6 {
  font-size: 1.1rem;
    /* margin-left: 2.5rem; */
    color: #616263;
}
.Img{
  justify-content: space-around;
  object-fit: scale-down;
  max-height: 3rem;
  max-width: 5rem;
}

.button{
  color: red;
    font-size: 10px;
    width: 0rem;
    padding: 4px;
}

.counter{
  /* height: 1rem;
  width:0.7rem; */
  color:#616263 ;
}


/*MEDIAS QUERYS RESPONSIVE*/

@media (max-width: 580px) {
 #bClear{
   width: 1rem;
    font-size: smaller;
    margin-right: -1.1rem;
  }
  #iPrice{
    font-size: smaller;
  }
  .Img{
    display: none;
  }
  #iCounter{
    font-size: smaller;
    text-align: start;
    font-size: smaller;
    margin-left: 1.1rem;
    }
  
  #iName{
    font-size: smaller;
  }
  #iPriceT{
    font-size: smaller;
    margin-left: -2rem;
  }
  #contenedor{
    display: flex;
    justify-content: space-between;
  }
  

}