.containerFormCompras{
  margin-top: 7%;
  margin-right: 0%;
  margin-left: 0% ;
  padding: 2%;
}

.Imagen{
  object-fit: scale-down;
  max-height: 3rem;
}

.container-item{
  justify-content: center;
}
.mb{
  display: none;
}