.div_conteiner{
  color:white;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
	height: 18%;
	overflow: hidden;
	background-color: black;
}

.div_pagos{
    margin: 0% 0% 0% 0%;
    display: block;
    align-items: center;
}

.div_logo {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.div_info {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}