.cards{
    /* width: 20.5rem; */
    border: 3px solid gray;
    width: 20rem;
    height: auto;
    margin-top: 25px;
    
  }


  @media (max-width: 450px) {
    
    .pisando {
      margin-left: 7% !important
    }

    .img_style {
      height: 10rem;
    }
    
}

.img_style {
  object-fit: scale-down;
}
