
@media (min-width: 990px) {
    .pepe2{
        display: flex;
        flex-direction: row;
    }
    .RespButtons{
        display: none;
    }
    .responsiveCard{
        width: 16rem;
    }
}

 @media (max-width: 990px) { 
    .pepe2{
        display: flex;
        flex-direction: column;
    }
    .desktop{
        display: none !important;
    }
    .RespButtons{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .responsiveCard{
        width: 12rem;
    }
} 